<div class="parent">
    <div class="overlay ">
        <div class="container py-5 ">
            <div class="row bg-white py-5 mt-5 rounded-3 mx-0  mx-sm-5">
                <div class="col-md-6 p-2 px-5 ">
                    <h4 class="after text-sm-center-custome mx-md-3">Contact Us</h4>
                    <form class="mx-md-3">
                        <div class="mb-2 ">
                            <input type="text" class="form-control border-0 border-bottom fs-input" placeholder="Name">
                        </div>
                        <div class="mb-2 ">
                            <input type="email" class="form-control border-0 border-bottom fs-input"
                                placeholder="Email address">
                        </div>
                        <div class="mb-3 ">
                            <input type="number" class="form-control border-0 border-bottom fs-input"
                                placeholder="Phone number">
                        </div>
                        <div class="mb-2 ">
                            <textarea class="form-control  fs-input" rows="5" placeholder="Any comments"></textarea>
                        </div>
                        <button class="btn btn-blue text-white px-4 py-1  btn-submit w-100-custome" type="button">Submit</button>
                    </form>
                </div>

                <div class="col-md-6 p-2 px-5 mt-sm-5-custome">
                    <h4 class="after text-sm-center-custome ">Get in touch</h4>
                    <p class="text-muted fs-small  text-sm-center-custome ">Our consulting firm is ready to help improve your business
                        operations. Reach out to us today to discuss how we can work together to meet your goals</p>

                    <div class="mt-4">
                        <p><i class="fa-solid fa-location-dot text-main"></i> <span class="fs-small ms-1">
                            Abi Bakr As Siddiq Branch Rd, An Narjis, Riyadh 13322،
                            </span>
                        </p>
                        <p><i class="fa-solid fa-location-dot text-main"></i> <span class="fs-small ms-1">
                                7859 Al Madinah Al Munawarah Rd, Ash Sharafiyah District, Jeddah 22234 
                            </span>
                        </p>
                        <p><i class="fa-solid fa-location-dot text-main"></i> <span class="fs-small ms-1">
                            6692 King Faisal Road, Ar Rakah Al Janubiyah, 34226    
                            </span>
                        </p>
                        <p><i class="fa-solid fa-phone text-main"></i><span class="fs-small ms-1">
                                920002493
                            </span>
                        </p>
                        <p><i class="fa-solid fa-envelope text-main"></i> <span class="fs-small ms-1">
                                info&#64;traxgroup.com
                            </span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>