<div class="container py-4 timesheet pb-5 ">
    <div class="container pt-2 border-bottom d-flex justify-content-between pb-1">
        <h4 class=" text-gray">Timesheet </h4>
        <button class="btn btn-custom px-3 py-1 "> <span><i class="fa-solid fa-plus text-main fs-cutome"></i></span> Add Project</button>
       
    </div>


    <div class="row me-1">
        <div class="">
            <section class="intro mt-4 pb-4">
                <div class="gradient-custom-1 h-100">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container-fluid ">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="table-responsive bg-white d-flex shadow-sm rounded">
                                        <table class="table mb-0 shadow-sm">
                                            <thead class="algin-items-center">
                                                <tr>
                                                    <th class="bg-table border-end border-white text-center">Project
                                                    </th>
                                                    <th
                                                        class="bg-table  rounded-start border-end border-white text-center">
                                                        Date</th>
                                                    <th class="bg-table border-end border-white text-center">
                                                        Organization</th>
                                                    <th class="bg-table  border-end border-white text-center">Start Time
                                                    </th>
                                                    <th class="bg-table border-end border-white text-center">End Time
                                                    </th>
                                                    <th class="bg-table border-end border-white text-center">Duration
                                                    </th>
                                                    <th class="bg-table border-end border-white text-center">Extra
                                                        Comments
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr >
                                                    <td class="py-3 text-center ">Trax</td>
                                                    <td class="py-3 text-center">25/05/2024</td>
                                                    <td class="py-3 text-center">Trax</td>
                                                    <td class="py-3 text-center">25/05/2024</td>
                                                    <td class="py-3 text-center">29/05/2024</td>
                                                    <td class="py-3 text-center">4 days</td>
                                                    <td class="py-3 text-center">-</td>
                                                </tr>
                                                <tr>
                                                    <td class="py-3 text-center">Trax</td>
                                                    <td class="py-3 text-center">25/05/2024</td>
                                                    <td class="py-3 text-center">Trax</td>
                                                    <td class="py-3 text-center">10:30 AM</td>
                                                    <td class="py-3 text-center">3:00 PM</td>
                                                    <td class="py-3 text-center">5 hours</td>
                                                    <td class="py-3 text-center">-</td>
                                                </tr>
                                                <tr>
                                                    <td class="py-3 text-center">Trax</td>
                                                    <td class="py-3 text-center">25/05/2024</td>
                                                    <td class="py-3 text-center">Trax</td>
                                                    <td class="py-3 text-center">11:00 AM</td>
                                                    <td class="py-3 text-center">01:30 PM</td>
                                                    <td class="py-3 text-center">2hours</td>
                                                    <td class="py-3 text-center">-</td>
                                                </tr>
                                                <tr>
                                                    <td class="py-3 text-center">Trax</td>
                                                    <td class="py-3 text-center">11:00 AM</td>
                                                    <td class="py-3 text-center">Trax</td>
                                                    <td class="py-3 text-center">08:00m AM</td>
                                                    <td class="py-3 text-center">01:30 PM</td>
                                                    <td class="py-3 text-center">6 hours</td>
                                                    <td class="py-3 text-center">-</td>
                                                </tr>



                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

       
        </div> 
        <section class=" col-md-8 px-3 p-2 pb-4 border-md-end ">
            <div class="d-flex justify-content-between  ">
                <h5 class="text-gray mx-3 ">To-Do lists</h5>
                <div>
                    <button class="btn btn-custom-orange px-3"><span><i class="fa-solid fa-plus  fs-cutome"></i></span> Add To-do List</button>
                </div>
            </div>

            <div class="row mt-4 m-auto">
                <div class="col-md-1 col-2  text-center text-main fw-bolder  pt-2">
                    <h5 class="mb-0">20</h5>
                    <h5 class="mb-0">May</h5>
                </div>
                <div class="col-10 bg-gray rounded pt-2">
                   <h6 class="mb-0"> Prototyping Project A</h6>
                   <p class="text-muted my-0 py-0">Upcoming</p>
                </div>
            </div>

            <div class="row mt-4 m-auto">
                <div class="col-md-1 col-2  text-center  fw-bolder  pt-2">
                    <h5 class="mb-0">20</h5>
                    <h5 class="mb-0">May</h5>
                </div>
                <div class="col-10 bg-gray rounded pt-2">
                   <h6 class="mb-0"> Prototyping Project B</h6>
                   <p class="text-muted my-0 py-0">Upcoming</p>
                </div>
            </div>

            <div class="row mt-4 m-auto">
                <div class="col-md-1 col-2  text-center  fw-bolder  pt-2">
                    <h5 class="mb-0">20</h5>
                    <h5 class="mb-0">May</h5>
                </div>
                <div class="col-10 bg-gray rounded pt-2">
                   <h6 class="mb-0"> Prototyping Project C</h6>
                   <p class="text-muted my-0 py-0">Upcoming</p>
                </div>
            </div>

        </section> 
        <div class="col-md-4 p-2">
            <h5 class="px-4 text-gray">Report</h5>
            <div class="p-2 mt-4">
                <div class=" rounded px-4 py-3 shadow-sm bg-light-main d-flex justify-content-between">
                    <div>
                        <h5 class="text-orange py-0 mb-0">Weekly Activity</h5>
                        <h6 class="text-muted-light py-0">1,600 hrs</h6>
                    </div>
                    <div>
                        <span class="text-white me-1">53% </span>
                        <i class="fa-solid fa-arrow-up-right-dots text-green"></i>
                    </div>
                </div>
            </div>
            <div class=" p-2">
                <div class="text-dark rounded px-4 py-3 shadow-sm bg-light-orange">
                    <h5 class="mb-0">Worked This Week</h5>
                    <h4>14 : 57 : 13</h4>
                </div>
            </div>

        </div>



    </div>