<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-main fs-h1 text-sm-center-custome ">Services</h2>
            <p class=" text-muted mt-2 text-sm-center-custome">
                Did you know that <span class="text-main fw">46%</span> of companies today fail to implement their IT
                strategy due to complexity and technology
                siloes? Our clients are facing an unprecedented number of challenges across sales, service,
                marketing, operations, and finance to stay relevant and competitive.</p>

            <div class="d-flex algin-custome">
                <h4 class="text-orange mt-1">Transform</h4>
                <p class="animated d-flex align-items-center mx-2 bg-orange text-white px-3 py-1 rounded"> &nbsp;<span
                        class="typewriter"></span>
                </p>
            </div>
        </div>

        <div class="col-md-6 mt-4">
            <div class="row ms-md-5">
                <div class="col-md-4 p-2">
                    <div class=" justify-content-center py-4 rounded  border-2 border-babyblue px-4 service">
                        <div class="text-center">
                            <h2><i class="fa-solid fa-graduation-cap "></i></h2>
                            <h5 class="">Trax Academy</h5>
                        </div>

                    </div>


                </div>

                <div class="col-md-4 p-2">
                    <div class=" justify-content-center py-4 rounded  border-2 border-babyblue px-3 service">
                        <div class="text-center">
                            <h2><i class="fa-solid fa-gear "></i></h2>
                            <h5 class="">Trax Technology</h5>
                        </div>

                    </div>


                </div>

                <div class="col-md-4 p-2">
                    <div
                        class=" justify-content-center py-4 rounded  border-2 border-babyblue px-3 service position-relative">
                        <div class="text-center">
                            <h2><i class="fa-solid fa-business-time "></i></h2>
                            <h5 class="">Trax Consulting</h5>
                        </div>


                    </div>


                </div>
            </div>

        </div>
    </div>

</div>