<app-navbar></app-navbar>
<div class="py-5 my-3 position-relative">
    <div class="parent">
        <div class="container pt-5 text-white px-5 bg-dange px-custome-md h-100">

            <div class="row  mx-5 mt-4">
                <div class="col-md-2 d-flex justify-content-end-custome border-0">
                    <div class="w-75 mt-2 mb-4 rounded-circle border-0 bg-transparent ">
                        <img src="../../assets/media/images/person.jfif" alt=""
                            class="img-fluid rounded-circle border-0 mx-4">
                    </div>
                </div>
                <div class="pt-2 ps-5 col-md-10 text-sm-center-custome ">
                    <p class="fs-custome-head mb-0">John Mousa Ahmed Mohamed</p>
                    <p class="mb-1">Sr. Software Developer</p>
                    <p class="mb-4 text-blue"><i class="fa-solid fa-location-dot text-blue me-2"></i> Cairo, Egypt </p>
                    <p class="text-gray mb-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi totam
                        dolorem nisi mollitia necessitatibus a fuga doloribus. Debitis itaque sed nobis excepturi. Ipsam
                        reiciendis rem dolore, asperiores nulla nemo.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="position-absolute position-custome w-100">
        <div class="container">
            <div class="row">
                <div class="col-md-7 p-4 bg-white rounded shadow-sm mb-4">
                    <div class="d-flex justify-content-between px-3">
                        <h5 class="text-main mb-0">Basic Information</h5>
                        <p class="text-blue mb-0"> <span><i class="fa-regular fa-pen-to-square"></i></span></p>
                    </div>
                    <div class="row px-4 mt-4">
                        <div class="col-3">

                            <p class="mb-2 text-dark-custome fw-custom-bold">Name: </p>
                            <p class="mb-2 text-dark-custome fw-custom-bold">Age:</p>
                            <p class="mb-2 text-dark-custome fw-custom-bold">Email:</p>
                            <p class="mb-2 text-dark-custome fw-custom-bold">Phone:</p>
                            <p class="mb-2 text-dark-custome fw-custom-bold">School:</p>
                            <p class="mb-2 text-dark-custome fw-custom-bold">Position:</p>
                        </div>

                        <div class="col-7">

                            <p class="mb-2"> John Mousa Ahmed Mohamed</p>
                            <p class="mb-2">31 years old </p>
                            <p class="mb-2 text-blue">John&#64;email.com </p>
                            <p class="mb-2">+123456789 </p>
                            <p class="mb-2">Highline High School <span class="text-muted fs-small">Cairo, Egypt</span>
                            </p>
                            <p class="mb-2"><span class="text-blue">Sr.</span>Software Developer</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 p-4 bg-white rounded shadow-sm mb-4 mx-auto">
                    <div class="d-flex justify-content-between px-3">
                        <h5 class="text-main mb-0">Skills</h5>
                        <p class="text-blue mb-0"> <span><i class="fa-regular fa-pen-to-square"></i></span></p>
                    </div>

                    <div class="px-3 mt-3">

                        <p class="mb-1 text-dark-custome ">UI/UX </p>
                        <p class="mb-1 text-dark-custome ">C++</p>
                        <p class="mb-1 text-dark-custome ">ASP .NET</p>
                        <p class="mb-1 text-dark-custome ">SQL</p>
                        <p class="mb-1 text-dark-custome ">Angular</p>
                        <p class="mb-1 text-dark-custome ">Spring Boot</p>
                        <p class="mb-1 text-dark-custome ">Design Patterns</p>
                    </div>
                </div>

                <div class="col-md-7 p-4 p-4 bg-white rounded shadow-sm mb-4">
                    <div class="d-flex justify-content-between px-3">
                        <h5 class="text-main mb-0">Projects</h5>
                        <p class="text-blue mb-0"> <span><i class="fa-regular fa-pen-to-square"></i></span></p>
                    </div>

                    <div class="px-3 mt-4">
                        <h6 class="text-orange fw-custom-bold ">Trax Project<span class="fs-custome text-gray mx-3">
                                2023-present</span></h6>
                        <p class="des-custome fs-small">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ducimus quam explicabo
                            blanditiis perspiciatis, corrupti quae cum neque quasi quos ad aperiam vel ex
                            exercitationem? Rem suscipit nesciunt deleniti distinctio!
                            Lorem ipsum dolor sit amet <span class="text-blue">
                                consectetur
                            </span> adipisicing elit. Dignissimos ducimus rem omnis
                            facilis iste blanditiis nisi quibusdam quam fugiat itaque natus necessitatibus recusandae,
                            possimus vel mollitia, cum neque deleniti quidem.

                        </p>
                    </div>


                    <div class="px-3 mt-4">
                        <h6 class="text-orange fw-custom-bold ">Organization Project<span
                                class="fs-custome text-gray mx-3">2020-2022</span></h6>
                        <p class="des-custome fs-small">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ducimus quam explicabo
                            blanditiis perspiciatis, corrupti quae cum neque quasi quos ad aperiam vel ex
                            exercitationem? Rem suscipit nesciunt deleniti distinctio!

                        </p>
                    </div>

                    <div class="px-3 mt-4">
                        <h6 class="text-orange fw-custom-bold ">Initial Compoany Project<span
                                class="fs-custome text-gray mx-3"> 2019-2020</span></h6>
                        <p class="des-custome fs-small">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ducimus quam explicabo
                            blanditiis perspiciatis, corrupti quae cum neque quasi quos ad aperiam vel ex
                            exercitationem? Rem suscipit nesciunt deleniti distinctio!
                            Lorem ipsum dolor sit amet adipisicing elit. Dignissimos ducimus rem omnis
                        </p>
                    </div>
                </div>

                <div class="col-md-4 p-4 bg-white rounded shadow-sm mb-4 mx-auto">
                    <div class="d-flex justify-content-between px-3">
                        <h5 class="text-main mb-0">Certificates and Awards</h5>
                        <p class="text-blue mb-0"> <span><i class="fa-regular fa-pen-to-square"></i></span></p>
                    </div>

                    <div class="px-3 mt-4">
                        <h6 class="fw-custom-bold text-dark-custome">AWS Cloud Course<span class="fs-custome text-gray mx-3">
                                2023-2024</span></h6>
                        <p class="des-custome fs-small">
                          
                            Cloud Computing, Algorithm, AI, and ML
                        </p>
                    </div>
                    <div class="px-3 mt-2">
                        <h6 class="fw-custom-bold text-dark-custome">Frontend Course<span class="fs-custome text-gray mx-3">
                                2023-2024</span></h6>
                        <p class="des-custome fs-small">
                            
                            Cloud Computing, Algorithm, AI, and ML
                        </p>
                    </div>
                    <div class="px-3 mt-2">
                        <h6 class="fw-custom-bold text-dark-custome ">ML Course<span class="fs-custome text-gray mx-3">
                                2023-2024</span></h6>
                        <p class="des-custome fs-small">
                            
                            Cloud Computing, Algorithm, AI, and ML
                        </p>
                    </div>
                    <div class="px-3 mt-2">
                        <h6 class="fw-custom-bold text-dark-custome ">AWS Cloud Course<span class="fs-custome text-gray mx-3">
                                2023-2024</span></h6>
                        <p class="des-custome fs-small">
                            
                            Cloud Computing, Algorithm, AI, and ML
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>