<app-navbar></app-navbar>
<div class="w-100 bg-main h-90vh parent">
    <div class="overlay w-100 h-100 h-90vh text-white d-flex justify-content-sm-center justify-content-md-start align-items-center text-white h-90vh">
        <h3 class="w-50 mx-5 px-5 w-50-custome ">
            Trax provides integrated services that help the organizations to design and implement robust
            business transformation strategies and do better performance <br>
            <span>
                <button class="btn btn-orange text-white mt-4 px-3 ">Contact Us</button>
                <button class="btn btn-blue text-white mt-4 px-3 mx-1 ">Book a free assessment</button>
            </span>
        </h3>
    </div>
</div>
<app-services></app-services>
<app-contact-us id="Contact"></app-contact-us>
